<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%#= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bank Account Management</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
        <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Create User Account</a></li>
        <li><a href="<%= new_user_session_path%>"><span class="glyphicon glyphicon-log-in"></span> Account Login</a></li>
        <% else %>
           <li><a>Welcome!&nbsp;<span class="glyphicon glyphicon-user"></span> <%= current_user.full_name %></a></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :get %></li>
      <% end %>
    </ul>
  </div>
</nav> 



<%= yield :top_content %>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>
  </body>
</html>
