
<%= link_to 'Deposit Money', deposit_accounts_path, class: 'btn btn-primary btn-lg' %>
        
        
<%= link_to 'Withdraw Money', withdraw_account_path(current_user.id), class: 'btn btn-primary btn-lg' %>

<%= link_to 'Transfer Money', transfer_account_path(current_user.id), class: 'btn btn-primary btn-lg' %>
        
<h1>All Transactions</h1>      
<table class="table table-striped">
  <thead>
  <tr>
    <th>Account No</th>
    <th>Credit Ammount</th>
    <th>Debit Ammount</th>
    <th>Transaction Date</th>
  </tr>
</thead>
<tbody>
<% unless @transactions.blank?%>  
<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.account_no %></td>
    <td><%= transaction.credit_amount %></td>
    <td><%= transaction.debit_amount %></td>
    <td><%= transaction.updated_at %></td>
  </tr>
<% end %>
<% else %>
<tr><td>No Records</td></tr>
<% end%>
</tbody>
</table>



